<div class='row'>
  <div class="col-sm-8 main" id='mainscreen'>
    <%= render partial: 'tvscreen' %>
  </div>
  <div class="col-sm-4 slidebar" id='subscreen'>
    <%= render partial: 'timeline' %>
  </div>
</div>

<script>
$(window).load(function(){
  var dispatcher = new WebSocketRails('twinama.herokuapp.com/websocket'),
      room_name = "<%= @user_info[:room_name] %>",
      channel = dispatcher.subscribe(room_name);

  console.log('connect =>', room_name);


  dispatcher.on_error = function(data) {
    return console.log('on error');
  };

  dispatcher.on_close = function(data) {
    return console.log('on close');
  };

  // bind to a channel event
  channel.bind(room_name + '_count_update', function(data) {
    console.log('channel event received: ' + data);
  });

  $(window).on('beforeunload', function() {
    dispatcher.trigger('watcher_leave', <%= @user_info.to_json.html_safe %>);
  });

  dispatcher.trigger('watcher_enter', <%= @user_info.to_json.html_safe %>);
});
</script>