<!DOCTYPE html>
<html>
<head>
  <title>Rails4test</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class='navbar navbar-default' role='navigation'>
  <title>ツイ生</title>
  <div class='container'>
    <div class='navbar-header'>
      <%= link_to 'ツイ生', root_path, class: 'navbar-brand' %>
    </div>
    <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
      <ul class='nav navbar-nav navbar-left' id='search_box'>
        <%= form_tag('screen', class: 'form-inline', role: 'form', method: :get) do %>
          <%= content_tag(:div, text_field(:screen, :tag_name, { class: 'form-control' }), class: 'form-group') %>
          <%= submit_tag('Go!', { class: 'btn btn-default' }) %>
        <% end %>
      </ul>

      <ul class='nav navbar-nav navbar-right'>
        <% if logged_in? %>
          <%= content_tag(:li, image_tag(current_user.image_url, size: "48x48", align: 'bottom')) %>
          <%= content_tag(:li, link_to("#{current_user.nickname}",'#')) %>
          <%= content_tag(:li, link_to('ログアウト', logout_path)) %>
        <% else %>
          <%= content_tag(:li, link_to('Twitterでログイン', '/auth/twitter')) %>
        <% end %>
      </ul>
    </div>
  </div>
</header>

<div class="container-fluid">
  <% if flash[:notice] %>
    <%= content_tag(:div, flash[:notice], class: 'alert alert-success') %>
  <% end %>
  <% if flash[:alert] %>
    <%= content_tag(:div, flash[:alert], class: 'alert alert-danger') %>
  <% end %>
  <%= yield %>
</div>

</body>
</html>
