<!DOCTYPE html>
<html>
<head>
  <title>Rails4test</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class='navbar navbar-default' role='navigation'>
  <div class='container'>
    <div class='navbar-header'>
      <%= link_to 'ツイ生', root_path, class: 'navbar-brand' %>
    </div>
    <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
      <ul class='nav navbar-nav navbar-left' id='search_box'>
        <li><input type="text" class="form-control"></li>
        <li><button class="btn btn-default" type="button">Go!</button></li>
      </ul>

      <ul class='nav navbar-nav navbar-right'>
        <% if logged_in? %>
          <li><%= image_tag(current_user.image_url, size: "48x48", align: 'bottom') %></li>
          <li><%= link_to "#{current_user.nickname}" %></li>
          <li><%= link_to 'ログアウト', logout_path %></li>
        <% else %>
          <li><%= link_to 'Twitterでログイン', '/auth/twitter' %></li>
        <% end %>
      </ul>
    </div>
  </div>
</header>

<div class="container-fluid">
  <% if flash[:notice] %>
    <div class='alert alert-success'>
      <%= flash[:notice] %>
    </div>
  <% end %>
  <% if flash[:alert] %>
    <div class='alert alert-danger'>
      <%= flash[:alert] %>
    </div>
  <% end %>
  <%= yield %>
</div>

</body>
</html>
